<div class="col s12">
  <h1 class="center">Nothing But Emojis starts here...</h1>
  <div class = "phone_stuff center">
    <div class="phone center">
      <%=image_tag("white_iphone.png", class: "center")%>
    </div>
    <div class="conversation">
    </div>
    <form class = "text">
      <input type="text" name = "text">
      <input class = "submit" type="submit" value = " ">
    </form>
  </div>
</div>