<div class="col s12 center">
  <h1>Convert Your Message to Emojis</h1>
  <div class="row">
    <%= video_tag("emoji.mp4", :controls => false, 
                            :autobuffer => true, 
                            :autoplay => true, 
                            :loop => true, 
                            :class => "responsive-video home-video") %>
  </div>
  <div class = "phone_stuff center">
    <div class="phone">
      <%=image_tag("white_iphone.png", class: "center")%>
    </div>
    <div class="conversation">
      <div class = "them">
        I'm a boring text convo
      </div>
      <div class = "us">
        I'm even worse
      </div>
      <div class = "them">
        I'm SO TERRIBLE
      </div>
      <div class = "us">
        I'M SO MUCH OF THE BORING TEXT MESSAGESOMG
      </div>
      <div class = "us hidden" id = "update">
      </div>
    </div>
    <form class = "text">
      <input type="text" name = "text">
      <input class = "submit" type="submit" value = " ">
    </form>
  </div>
</div>