<div class="col s12 center">
  <div class="row">
    <h1>Let's go.</h1>
  </div>
  <div class="row">
    <video autobuffer="autobuffer" autoplay="autoplay" loop="loop" class="responsive-video home-video" src="./public/videos/emoji.mp4"></video>
  </div>
  <div class = "phone_stuff center">
    <div class="phone">
      <%=image_tag("white_iphone.png", class: "center")%>
    </div>
    <div class="conversation">
    </div>
    <form class = "text">
      <input type="text" name = "text">
      <input class = "submit" type="submit" value = " ">
    </form>
  </div>
</div>