/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.phone img{
  max-height: 500px;
  margin-top: 20px;
}

.conversation{
  height: 190px;
  width: 209px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -447px;
}

.text{
  position:relative;
  top: -480px;
  width:200px;
  margin:0 auto;
}

.submit{
  padding:10px 25px 10px 25px;
  position:relative;
  top: 115px;
  left:50%;
  opacity: 0;
}

.phone_stuff{
  text-align: center;
}

.them{
  background-color: gray;
  max-width: 180px;
  float:left;
  padding:2px 5px;
  border-radius: 8px;
  margin: 1px 0 1px 3px;
}

.us{
  background-color: blue;
  max-width: 180px;
  margin:1px;
  float: right;
  padding:2px 5px;
  border-radius: 8px;
  margin: 1px 3px 1px 0;
}

.conversation{
  color:white;
}

.hidden{
  display:none;
}