<footer class="page-footer yellow">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h5 class="black-text">Nothing But Emojis</h5>
        <p class="grey-text text-darken-3">A picture is worth 1000 words. Twitter only gives you 140...</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text center">
      Copyright &copy; 2016.
      <br>
      Made by <a href="https://github.com/kristallam">Kristal</a>, <a href="https://github.com/kelsonic">Kelsonic</a>, <a href="https://github.com/agurusa">Aarthi</a>, <a href="https://github.com/bopes">Charlie</a>, <a
      href="https://github.com/ttalhouk">Talal</a>, <a
      href="https://github.com/vic8722">Young Vic</a>
    </div>
  </div>
</footer>
